# .github/workflows/issue-auto-smoke-test.yml
name: Issue Auto Smoke Test

on:
  issues:
    types:
      - opened
      - edited
      - reopened

jobs:
  log-event:
    runs-on: ubuntu-latest
    steps:
      - name: Print event info
        run: |
          echo "Event name: $GITHUB_EVENT_NAME"
          echo "Issue number: ${{ github.event.issue.number }}"
          echo "Issue title:  ${{ github.event.issue.title }}"
